main.main 
    section.top 
        .top__inner
            .top__slider    
                .top__slider-item
                    img.top__slider-img(src="img/slider-img1.webp", alt="images")
                    .top__slider-info 
                        h2.top__slider-title Furniture collection
                        p.top__slider-text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                .top__slider-item
                    img.top__slider-img(src="img/slider-img2.webp", alt="images")
                    .top__slider-info 
                        h2.top__slider-title Furniture collection
                        p.top__slider-text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                .top__slider-item
                    img.top__slider-img(src="img/slider-img3.webp", alt="images")
                    .top__slider-info 
                        h2.top__slider-title Furniture collection
                        p.top__slider-text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
    <p>If you click on me, I will disappear.</p>
    <p>Click me away!</p>
    <p>Click me too!</p>